*{
    margin: 0;
    padding: 0;
}

.footer{
    height: 400px;
    background-color: teal;
    margin-top: 0;
    line-height: 30px;
    list-style: none;

}

.footer ul ul{
    display:inline-block;
    padding-top: 2%;
    padding-left: 20%;
    list-style: none;
   
   
}

.footer ul ul li li{
   
    position: absolute;
    
  }

  .icons{
      padding-left: 40%;
      padding-top: 3%;
  }

  .icons h1{

    display: inline-block;
    padding-left: 5%;
    

  }
  
.follow{
    margin-top: 3%;
    text-align: center;

}
